<h2>{{ item }}</h2>
<h3>{{ profile.name ? profile.name : profile.username }}</h3>
<div class=list-group>
    <div class=list-group-item>
        <div class=row>
        <div class=col-md-10>
            <p>Name: {{profile.name}}</p>
        </div>
        <div class=col-md-2>
            <a 
                ng-if="profile.files" 
                class="btn btn-success" 
                ng-click="addFile()"
            >Add File</a>
        </div>
        </div>
    </div>
    <div class=list-group-item>        
        <div ng-init="items=profile.projects||profile.files">
            <div ng-if="!((profile.projects||profile.files)|count)">
                no {{ profile.files && 'files' || 'projects' }}
            </div>
            <div ng-if="((profile.projects||profile.files)|count)>=2">                                    
                {{ (profile.projects || profile.files)  | count}} {{ profile.projects && 'projects' || 'files' }}
            </div>
            <div ng-if="((profile.projects||profile.files)|count)==1">                                    
                {{ (profile.projects || profile.files)  | count}} {{ profile.projects && 'project' || 'file' }}
            </div>
            <ul ng-if="profile.projects" class="list-unstyled list-inline">
                <li ng-repeat="proj in profile.projects">
                    <a ng-href="/project/profile/{{proj.$oid}}">project page</a>
                </li>    
            </ul>
            <ul ng-if="profile.files" class="list-unstyled">
                <li ng-repeat="file in profile.files">
                    <a 
                        ng-href="/file/{{ file.oid || file._id.$oid }}/edit"
                        class="btn btn-link"
                    >{{ $index+1 }}: {{ file.name }}
                    </a>
                </li>
                    <a 
                        ng-if="key=='files'" 
                        ng-href="/file/{{ itm.oid }}/edit"
                    >edit</a>
                </li>
            </ul>
        </div>                               
        
    </div>
</div>
<a ng-href="/{{ item }}/list" class="btn btn-default">back</a>
