<h2>{{ item }}</h2>
<h3>{{ profile.name ? profile.name : profile.username }}</h3>
<div class=list-group ng-init="profileType = (profile.files && 'project' || false) || (profile.projects && 'user')">
    <div class=list-group-item>
        <div class=row>
        <div class=col-md-10>
            <p>Name: {{profile.name}}</p>
        </div>
        <div class=col-md-2>
            <a 
                ng-if="profile.files" 
                class="btn btn-success" 
                ng-click="addFile()"
            >Add File</a>
        </div>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-5">
    <div class=list-group-item>        
        <div ng-init="items=profile.projects||profile.files">
            <div ng-if="!((profile.projects||profile.files)|count)">
                no 
                {{ 
                    profile.files && 
                    'files' || 
                    'projects' 
                 }}
            </div>
            <div ng-if="((profile.projects||profile.files)|count)>=2">                                    
                <span class=badge>
                {{ 
                    (profile.projects ||
                    profile.files)  | 
                    count | 
                    update 
                 }} 
                </span>
                 {{ 
                    profile.projects && 
                    'projects' || 
                    'files' 
                  }}
            </div>
            <div ng-if="((profile.projects||profile.files)|count)==1">                                    
                <span class=badge>
                {{ 
                    (profile.projects || 
                    profile.files)  | 
                    count | 
                    update 
                 }} 
                </span>
                 {{ 
                    profile.projects && 
                    'project' || 
                    'file' 
                  }}
            </div>
            <ul ng-if="profile.projects" class="list-unstyled list-inline">
                <li ng-repeat="proj in profile.projects">
                    <a 
                        ng-href="/project/profile/{{proj._id.$oid}}" 
                        class="btn btn-link btn-lg">{{ proj.name }}</a>
                </li>    
            </ul>
            <table ng-if="profile.files" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>name</th>
                        <th>type</th>
                        <th>edit</th>
                        <th>remove</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in profile.files">
                        <td>
                            <button class="btn btn-sm itm-num btn-default" ng-disabled=1>{{ $index+1 }}</button>
                        </td>
                        <td>
                            {{ file.name }}
                        </td>
                        <td>
                            <p>
                            <span>
                                [{{ file.name | fileType }}]
                            </span>
                            </p>
                        </td>
                        <td>
                            <a 
                                ng-href="/file/{{ file.oid || file._id.$oid }}/edit"
                                class="btn btn-default btn-sm"
                                >Edit  </a>
                        </td>
                        <td>
                            <button class="inline-block close-box btn-danger btn btn-xs" ng-hover>
                                <close-btn 
                                    proj-id="{{(file.oid || file._id.$oid)}}"
                                ></close-btn>    
                            </button>
                        </td>                                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<a ng-href="/{{ item }}/list" class="btn btn-default">back</a>
